# TODO потом вернуть, когда почистим от данных!
data/

dist/

# Depencencies
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
nbproject

$Recycle.Bin
*.swp
*.*~
\#*\#
*\.\#*
*___jb_old___
*___jb_tmp___
.tern-port
*.iml
*.DS_Store
