@font-face {
    font-family: 'SBSansText';
    src: url('./fonts/sb-sans-new/SBSansText-Semibold.eot');
    src:
        url('./fonts/sb-sans-new/SBSansText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/sb-sans-new/SBSansText-Semibold.woff2') format('woff2'),
        url('./fonts/sb-sans-new/SBSansText-Semibold.woff') format('woff'),
        url('./fonts/sb-sans-new/SBSansText-Semibold.ttf') format('truetype'),
        url('./fonts/sb-sans-new/SBSansText-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    width: 100%;
}
header{
    width:80%;
    margin: auto;
    height: 60px;
    white-space: nowrap;
}

/* .wrapper-grafic, */
.wrapper-grafic-d3 {
    width:80%;
    height: 40rem;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
}
.grafic-row{
    min-width: 10px;
    height: 1rem;
    background-color: cornflowerblue;
    border:1px solid black;
}
.grafic-row--opened {
    background-color: rgb(197, 80, 90);
}
.grafic-row--closed {
    background-color: rgb(80, 197, 90);
}
/* .chart-wrapper{
    display: inline-block;
} */
#chart{
    height: 300px;
}